PyYAML==6.0.3
certifi==2026.2.25
pyspark==4.0.1
jsonschema[format]==4.25.1
mypy==2.2.0
pyiceberg[pyarrow,pyiceberg-core,sql-postgres,sql-sqlite,s3fs]==0.12.0
pytest==9.0.3
pytest-cov==7.0.0
ruff==0.16.10
